# Config file for coverage.py

[run]
branch = True

[report]
exclude_lines =
    pragma: no cover

    # Debugging code
    def __repr__
    if .debug:

    # Assertions, etc..
    raise AssertionError
    raise NotImplementedError

    # Code that isn't called during test
    if __name__ == .__main__.:

ignore_errors = True

# omit =
#     venv/*
#     tests/*
#     setup.py
